@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s ease-in-out;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.setting input:hover{
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

@media (max-width: 500px){
	.header {
   flex-direction: column;
   align-items: center;
   height: 100%;
   margin-top: 20px;
  }

}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

/* Settings */
.setting{
  position: absolute;
  left:50%;
  transform:translate(-50%, 0);
  top:-500px;
  width: 300px;
  height: 500px;
  background-color: black;
  opacity: 0.9;
  z-index: 5;
  transition: all 1s ease-in-out;
}

.setting.center{
  top: 0;
}

.closer{
  display: flex;
  justify-content: end;
}

.closer-svg{
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: 30px 30px;
  background-image: url(../assets/svg/closer.svg);
  background-repeat: no-repeat;
  text-align: end;
  background-color: black;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0.8;
}

.setting-svg-wrap{
  left:50%;
  transform:translate(-50%, 0);
  top:10px;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: 30px 30px;
  background-image: url(../assets/svg/setting.svg);
  background-repeat: no-repeat;
  text-align: end;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0.8;
}

@media (max-width: 500px){
  .setting-svg-wrap{
    left:50px;
    
  }
}

.closer-svg:hover,
.setting-svg-wrap:hover{
  opacity: 1;
}

.header_lang{
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  padding-right: 11px;
  padding-left: 10px;
  opacity: 0.8;
  transition: 0.3s;
}

.header_lang:hover,
.active, .api-item:hover{
  opacity: 1;
}

.api{
  display: flex;
  flex-direction: column;
}

.title-api{
  font-size: 20px;
}

.title-tag-api,
.title-hide-element{
  padding-top: 8px;
  font-size: 20px;
}

.hide{
  visibility: hidden;
  opacity: 0;
}

.api-item{
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.api-item.active{
  opacity: 1;
}


.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

@media (max-width: 500px){
	.weather {
   margin-top: 20px;
  }
}


.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 1s ease-in-out;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .time {
    min-height: 40px;
    font-size: 40px;    
  }
  
  .date {
    min-height: 14px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .greeting-container {
    min-height: 20px;
    font-size: 16px;
  }

  .name {
    font-size: 16px;
    padding: 5px;
  }
}

.call-todo{
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.todo{
  position: absolute;
  right: -100%;
  min-width: 200px;
  height: 400px;
  background-color: rgba(142, 113, 163, 0.9);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.todo.appear-todo{
  right: 0px;
}

.input-data{
  position: sticky;
  top: 0;
}

.in{
  border-radius: 3px;
  border: 0;
  padding-left: 5px;
  background-color:rgb(227, 213, 239);
}

.in::placeholder{
  padding-left: 5px;
}

.todo-button{
  border-radius: 3px;
  border: 0;
  background-color:rgb(227, 213, 239);
  color: rgba(30, 12, 12, 0.8);
  transition: all 0.2s ease-in-out;
}

.todo-button:hover{
  cursor: pointer;
  background-color:rgb(200, 176, 222);
}

.out{
  color: rgb(178, 202, 214);
  text-align: left;
}

.did{
  text-decoration:line-through;
}

.call-todo{
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.call-todo:hover{
  opacity: 1;
}

#closersign:hover{
  cursor: pointer;
  color: rgb(52, 37, 53);
  transition: all 0.2s ease-in-out;
}

.closer-todo{
  display: flex;
  justify-content: end;
  color: rgb(198, 189, 189);
  transition: all 0.2s ease-in-out;
}

.closer-todo:hover{
  color: white;
  cursor:pointer;
}